.dropdown-menu {
    margin-top: 0;
    margin-left: 5px;
    font-size: 14px;
    border:none;
    border-radius: 0;
 
}
.dropdown-item{
    padding: 0 10px;
}
.dropdown-menu li a{
    font-weight: 600;

}


.dropdown-menu .dropdown-toggle::after {
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    font-weight: 500;
}
.dropdown-menu .dropdown .dropdown-menu {
    left: 100%;
    top: 0%;
}

.dropdown-menu > li a:hover,
.dropdown-menu > li.show {
	background: transparent;
    color: #000000;
  
    
    
}
.dropdown-menu > li.show > a{
    color: #000000;
    
 
}