@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html {
	scroll-behavior: smooth;
}

/* Common Styles */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #282828;
    font-weight: 400;
    line-height: 28px;
    width: 100%;
    height: 100%;
}

a:hover{
    text-decoration: none;
}
input:focus {
    outline: none;
}
h1{
    font-size: 22px;
    font-weight: 600;
}
h2{
    font-size: 18px;
    font-weight: 600;
}
h3{
    font-weight: 600;
    font-size: 16px;
}
h4{
    font-weight: 600;
    font-size: 14px;
}
h5{
    font-weight: 600;
    font-size: 12px;
}
.f-10{
    font-size: 10px;
}
.f-12{
    font-size: 12px;
}

.f-14{
    font-size: 14px;
}
.f-18{
    font-size:18px;
}

.f-24{
    font-size:24px;
}
.bg-color1{
    background-color: #FAFAFA;
}

.bg-color2{
    background-color: rgba(40, 40, 40, .80);
}
.font-light{
    font-weight: 300;
}
.font-regular{
    font-weight: 400;
}
.font-semi-bold{
    font-weight: 500;
}
.font-bold{
    font-weight: 700;
}

.text-black{
    color: #000000;
}
.text-white{
    color: #fff;
}
.text-red{
    color: #E2001D;
}
.text-color2{
    color:#989898;
}
.strike{
    text-decoration: line-through;
    text-decoration-color: rgba(112, 112, 112, 1);
}
.bg-red{
    background-color: #E2001D;
}

a.text-red:hover{
    text-decoration: none;
    color: #000;
    
}
.modal-content {
    border-radius: 0px !important;
}

.btn-primary{
    background-color: #E2001D;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid #E2001D;
    border-radius: 0;
    padding: 15px 20px;
    transition: all ease-in .24s;
    width: 100%;
}
.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #E2001D;
    color: #fff;
    border: 1px solid #E2001D;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: none !important;
}
.btn-secondary{
    background-color: #fff;
    color: #E2001D;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    padding: 15px;
    border: 2px solid transparent;
    width: 100%;
}
.btn-secondary:hover{
    background-color: transparent;
    color:#fff;
    border-color: #fff;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #ffffff;
    color: #000;
}
.btn-outline-secondary{
    background-color: #ced4da;
    border: none;
    color: #000;
   
}
.btn .btn-outline-secondary{
    font-weight: 700px !important;
}
.btn-light{
    color: #000;
    border-radius: 0;
}
.btn-medium{
    min-width: 100%;
    max-width: 100%;
}

.inner-box{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .20);
    padding: 15px;
    /* height: 100%; */
}



.ul-list-style-1{
    list-style: none;
}
.ul-list-style-1 li::before {
    content: '\2022';
    color: #E2001D;
    font-weight: bold;
    font-size: 20px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
  }

  .section{
      padding: 50px 0;
  }


/* End Common Styles */




/* Header section styles */
header {
    height: 80px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.home-page header {
    background-color: transparent;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}
.home-page header.fix{
    background-color: #fff;
}
.home-page header.fix img{
    display: none;
}
.home-page header.fix img.d-none{
    display: block !important;
}
.menu-trigger{
    width: 40px;
    height: 40px;
    background-color: #E2001D;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-page .menu-trigger{
    position: absolute;
    left: 15px;
}
/* End Header section styles */

/* Inner Hero section styles */
.inner-hero{
    text-transform: uppercase;
    padding: 20px 15px;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

/* .inner-hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .49);
    top: 0;
    left: 0;
    z-index: 1;
} */

.inner-hero h1 {
    z-index: 2;
    position: relative;
    margin-bottom: 0;
}
.inner-hero div{
    display: inline-block;
    position: relative;
    z-index: 2;
}
.inner-hero div:first-child{
    width: 40px;
    height: 40px;
}
.inner-hero div:last-child{
    width: calc(100% - 45px);
}
/*End Inner Hero section styles */

/* Menu section styles */


.menu-section{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #E2001D;
    left: -100%;
    top: 0;
    z-index: 999;
    color: #fff;
    padding: 20px;
    overflow: auto;
    transition: left ease-in .24s;
}
.menu-section.show{
    left: 0;
    z-index: 99999;
}
.menu-section .nav{
    margin-top: 30px;

}
.menu-section .nav .nav-link{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.menu-section .nav .nav-link {
    padding: 0.8rem 1rem;
}
.menu-section .nav .dropdown-menu{
    /* background-color: transparent;  */
}
.menu-section .nav .dropdown-item:focus,.menu-section .nav .dropdown-item:active {
    background-color: transparent;
}
.menu-section .nav ul {
    list-style-type: none;
    padding-left: 0;
    
}
.menu-section .nav .dropdown-item{
    color: #fff;
    font-size: 12px;  
}
.menu-section .dropdown-item:focus, .menu-section .dropdown-item:hover {
    color: #fff;
    background-color: transparent;
}
.menu-close{
    position: absolute;
    right: 15px;
    top: 15px;
    /* display: none; */
}
.menu-section.show .menu-close{
    position: fixed;
}
.menu-trigger:focus{
    outline: none;
}
/* End Menu section styles */



.main-home-section{
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 568px;
}




.welcome-video {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url(../images/home.jpg);
    background-position: center right;
    background-size: cover;
}
.welcome-video .video-background {
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
/* .welcome-video::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(54, 54, 54, .50);
    position: absolute;
    top: 0;
} */

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: calc(100vh - 130px); */
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 0 15px;
    overflow: auto;
    padding-top: 25px;
}

.hero-section form {
    margin: 25px 0;
    display: flex;
    margin-bottom: 10px;
}
.hero-section .btn-primary {
    padding: 0 20px;
    width: auto;
}
.hero-section form input {
    width: 100%;
    height: 58px;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 0 15px;
}




.cost-benefit-analysis-section{
    padding-top: 0;
}
.cost-benefit-analysis-section .collapse{
    padding: 10px 15px;
}
.cost-benefit-analysis-section .collapsing{
    padding: 10px 15px;
}

.cost-benefit-analysis-section #collapseThree .row .col-12{
    border-bottom:1px solid rgba(112, 112, 112, 0.25);
}    
.cost-benefit-analysis-section .form-control{
    font-size: 12px;
    height: 36px;
}


.slider-handle {
    width: 22px;
    height: 22px;
    background-color: #ED1D24;
    background-image:none;
    filter: none;
    box-shadow: transparent;
    border: none;
}
.slider.slider-horizontal{
    width: 100%;
}
.slider.slider-horizontal .slider-track{
    width: 100%;
    height: 3px;
    background-color: #000;
    background-image: none;
    margin-top: 0;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high{
    background-image: none;
}
.slide-bar-section{
    text-align: center;
}
.slide-bar-section b{
    
    display: inline-block;
    font-size: 16px;
    /* text-align: right; */
}
.slide-bar-section h2{
    margin-bottom: 0;
}
footer {
    padding: 10px 0;
    background-color: #2D2E2D;
}
footer .list-unstyled {
    margin-bottom: 0;
    margin-top: 20px;
}
footer .list-unstyled .list-inline-item{
    display: block;
}
footer .list-unstyled .list-inline-item a {
    color: #fff;
    font-weight: 600;
}
footer .list-unstyled .list-inline-item {
    margin: 0;
    padding: 10px 15px;
}






/* Our Presence section styles */
.our-presence-border{
    border-bottom:1px solid rgba(112, 112, 112, 0.25);
    border-top:1px solid rgba(112, 112, 112, 0.25);
    justify-content: space-around;
    /* flex-direction: column; */
    display: inline-flex;
    align-items: center;
    text-align: center;
    /* margin-top: 20px; */
    background: url(../images/success-profile.png) no-repeat;
    background-size: cover; 
    color: #fff;
    background-position: bottom left;
}
.our-presence-border::after {
    background-color: rgba(239, 33, 40, .82);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.our-presence-border > div{
    padding: 20px 0;
    width: 50%;
    position: relative;
    z-index: 2;
}
.our-presence-border > div .text-red{
    color: #fff !important;
}

/* End Our Presence section styles */


/* Atria power section styles */
.atria-power-section{
    
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    
}
.atria-power-section > p{
    opacity: 1;
}
/* End Atria power section styles */



/* Journey Section */
.success-journey-section{
    padding: 20px 0;
}
.success-journey-section .container{
    box-shadow: 0 0 40px rgba(0, 0, 0, .09);
    padding: 0;
}
.success-profile{
    background: url('../images/success-profile.png') no-repeat;
    background-size: cover;
    padding:15px;
    position: relative;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

 .success-profile::after{
    background-color: rgba(239, 33, 40, .82);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left: 0;

}
.success-profile > h2, .success-profile > p , .success-profile > div {
    z-index: 99;
        position: relative;
}
.journey-section{
    padding-top:30px;
    padding-bottom:30px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding:15px;
}
/* End Journey Section */


/* Social Responsibility Section */

.social-responsibility >p{
    font-size: 18px;
}
.social-responsibility-gradient{
    background: rgb(120,17,20);
background: -moz-linear-gradient(0deg, rgba(120,17,20,1) 0%, rgba(239,33,40,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(120,17,20,1) 0%, rgba(239,33,40,1) 100%);
background: linear-gradient(0deg, rgba(120,17,20,1) 0%, rgba(239,33,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#781114",endColorstr="#ef2128",GradientType=1);
    padding:25px 15px;
    color: #FFFFFF;
    margin-left: -15px;
    margin-right: -15px;

}
/* End Social Responsibility Section */

/* Contact Form Section Styles */
.contact-form{
    background-image: url(../images/contact-form-bg.jpg);
    background-size: cover;
    padding: 25px 15px;
    /* margin-bottom: 50px; */
    min-height: calc(100vh - 108px);
}
.contact-form .form-group{
    position: relative;
    margin-bottom: 20px;
}
.contact-form .form-group label{
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
.contact-form .form-group .form-control{
    background-color: rgba(255, 255, 255, .50);
    height: 50px;
    border: none;
    padding-left: 55px;
    border-radius: 5px;
}
.contact-form .form-group textarea.form-control{
    height: 80px;
    resize: none;
    padding-top: 15px;

}
/* End Contact Form Section Styles */


#map {
    height: 280px;
}




/* Explore Section Styles */

.explore-row{
    padding: 30px 0;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
}
.explore-row .explore-col:first-child{
    width: 100%;
    display: flex;
    align-items: center;
}
.explore-row .explore-col:first-child h4{
    margin-bottom: 0;
    display: inline-flex;
}
.explore-row .explore-col svg{
    margin-right: 20px;
}
.explore-row .explore-col:last-child{
    margin-top: 20px;
}


/* Frequently Asked Questions styles */
.faq-section{
    padding: 30px 0;
}

/* End Frequently Asked Questions styles */


/* Accordion style 1 */
.accordion-style-1 .card{
    border: none;
    background-color: transparent;
    box-shadow: 0 3px 9px rgba(0, 0, 0, .10);
}
.accordion-style-1 .card + .card{
    margin-top: 15px;
}
.accordion-style-1 .card-header{
    padding: 0 !important;
    background-color: transparent;
    padding: 16px 15px !important;
    cursor: pointer;
    border: none;
    padding-right: 25px !important;
}
.accordion-style-1 .card-header .btn{
    padding: 0 !important;
    color: #2E2E2E;
    /* text-transform: uppercase; */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
}
.accordion-style-1 .card-body {
    padding: 24px 24px !important;
    padding-top: 0 !important;
}   
.address-map{
    border: 5px solid #ededed;
}
.accordion-style-1 .btn-link {
    text-decoration: none;

}
.accordion-style-1 .btn-link::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 32px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #CBCBCB;
  
}
.accordion-style-1 .btn-link.collapsed::after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #CBCBCB;
}

.how-solar-panel-section .accordion-style-1 .card-body {
    padding: 24px 15px !important;
}
.how-solar-panel-section .accordion-style-1 .btn-link::after {
    top: 22px;
}


.how-solar-panel-section .accordion-style-1 h4{
    display: flex;
    align-items: center;
    color: #000;
}

/* End Accordion style 1 */





/* Login Page Start */

.login-page {
    background-image: url(../images/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 10px;
    padding-top: 25px;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
}
.login-page.splash-screen{
    background-attachment:scroll;
}
.login-section {
    position: relative;
    z-index: 2;
    width: 100%;
}
.login-section h1 {
    text-shadow: 0 3px 14px rgba(0, 0, 0, 0.59);
    font-size: 22px;
}
.login-section .inner-box {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.69);
    padding: 15px 25px;
    border-radius: 4px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
    z-index: 1;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


.login-section .sub-section-head {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba(225, 225, 225, 0.99);
    text-align: center;
    color: #242424;
    font-size: 14px;
    margin-left: -30px;
    margin-right: -30px;
    font-weight: 500;
    padding: 5px 30px;
}
.login-page.splash-screen h2{
    color: #fff;
}
.login-section .form-checkbox input{
    display: none;
}
.login-section  .form-checkbox label{
    position: relative;
    padding-left: 35px;
}
.login-section  .form-checkbox label::before{
    content: '';
    height: 20px;
    width: 20px;
    border: 1px solid #3C4858;
    border-radius: 3px;
    background-color:transparent;
    display: inline-block;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: -14px;

}
.login-section  .form-checkbox input + .check-label{
    /* margin-right: 30px; */
}

.login-section .form-checkbox input:checked + .check-label::before{
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.login-section .form-checkbox input + .check-label {
    /* margin-right: 30px; */
}

.login-section .form-checkbox{
    position: relative;
}
.login-section .form-checkbox .div-checkbox{
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.43);
    position: absolute;
    top: 5px;
    z-index: 99;;
}


.login-section .form-group{
    position: relative;
}
.login-section .form-control{
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #939393;
    font-size: 12px;
    color:#fff;
    border-radius: 0;
    height: 44px;
}
.login-section svg{
    position: absolute;
    top: 16px;
}
.login-section svg + .form-control{
    text-align: left;
    padding-left: 30px;
}
.login-section hr{
    border-top: 2px solid #fff;
    width: 40%;
}
.login-section .forgot-password-link{
    text-decoration: none;
    color: #fff;
}
.or-section {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    margin: 15px 0;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
}
.or-section::before {
    content: '';
    width: 10%;
    height: 1px;
    background-color: #939393;
    right: 32%;
    position: absolute;
    top: 48%;
}
.or-section::after {
    content: '';
    width: 10%;
    height: 1px;
    background-color: #939393;
    left: 32%;
    position: absolute;
    top: 48%;
}
.login-section .btn.btn-primary{
    padding: .375rem 15px;
    width: auto;
}
.login-section .btn.btn-secondary{
    padding: .375rem 15px;
    width: auto;
    border: 1px solid #fff;
    margin-left: 10px;
}
#termsConds .modal-header{
    padding: 10px 10px;
}
#termsConds .modal-footer{
    justify-content: space-around !important;
}

/* End Login Pgae */


/* Track order Styles */
.track-order.widget-style-1 li {
    padding-bottom: 0;
    padding-top: 0;
}
.track-order.widget-style-1 li > i{
    top: 0;
}
.track-order p{
    line-height: 20px;
}
/* End Track order Styles */


/* Widget Style 1 */

.widget-style-1{
    margin-top: 20px;
    list-style-type: none;
    
   
}
.widget-style-1 li > i{
    left: -38px;
    position: absolute;
    top: 22px;
    border-radius: 100%;
    font-size: 24px;
    color:#b3b3b3 ;
    z-index: 2;
    background: #fff;
    

}
.widget-style-1 li{
    padding-top: 0;
    transition: all ease-in .25s;
    position: relative;
    padding:20px 5px;
    
    
}
.widget-style-1 li > i.success{
    color: #8dc63f;
}
.widget-style-1 li::after{
left: -28px;
z-index: 1;
border-left: 1px solid #9c9c9c;
top: 25px;
height: 100%;
content: '';
position: absolute;
}
.widget-style-1 li + li{
    border-top: none;
    padding-bottom: 25px;
}
.widget-style-1 li:last-child::after {
   display: none;
}
.widget-style-1 .title{
    font-size: 14px;
}

.widget-style-1 .row{
    padding:30px 10px;
}

.widget-style-1-innerbox{
    width: 100%;
    background-color: #fff;
    padding: 0px 0px;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid #c7c4c4;
    border-radius: 0%;
    padding: 20px 30px;
   
}

/* End Widget Style 1 */



.key-solar-panel{
    list-style: none;
    padding: 0;
}
.key-solar-panel li{
    position: relative;
    padding-left: 25px;
}
.key-solar-panel li + li{
    margin-top: 20px;
}
.key-solar-panel li::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    left: 0;
    top: 8px;
    border-radius: 50%;
}



/* Testimonials Section Styles */
.testimonials-section{
    padding: 20px 0;
}
.testimonials-section .bg-section{
    background-color:#FFF7F7 ;
    /* padding-bottom: 30px; */
}

.testimonials-section .whyuse-ul{
    /* margin-bottom: 100px; */
    padding-left: 15px;
}
.testimonials-section .whyuse-ul li + li{
    margin-top: 20px;
}

.whyuse-btn-section .btn-secondary{
    box-shadow: 0 0 14px rgba(0, 0, 0, .44);
}
.whyuse-btn-section .btn-secondary:hover{
    background-color: #E2001D;
    border-color: #E2001D;
}
.testimonials-section .carousel.slide{
    background-color: rgba(40, 40, 40, .80);
    box-shadow: 0 3px 85px rgba(0, 0, 0, .16);
}
.carousel {
	margin: 30px auto;
    padding:10px 15px;
    margin-bottom: 0;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .testimonial {
	padding: 0 0 0 10px ;
    position: relative;
    color: #fff;
}
.carousel .testimonial p{
    padding: 0 15px;
    margin: 0;
    margin-bottom: 10px;
}
.carousel .testimonial p:last-child{
    margin-bottom: 0;
}
.carousel a:hover{
    text-decoration: none;
}
.carousel .overview{
    font-size: 14px;
    color: #fff;
    margin-bottom: 0;
}
.carousel .overview b {
	text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    display: block;
}
.carousel .carousel-indicators {
    bottom: 0px;
    left: 20px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
    height: 10px;
	border-radius: 50%;
    margin: 1px 3px;
    border: none;
}
.carousel-indicators li {	
    background: #767676;
}
.carousel-indicators li.active {
    background: #fff;    
}
.testimonials-section .item.carousel-item svg.float-right{
    position: absolute;
    bottom: 10px;
    right: 5px;
}
/* End Testimonials Section Styles */



.min-hieght-page{
    min-height: calc(100vh - 140px);
}


/* Chat Box Styles */

.chat-box{
    width: 100%;
    /* width: calc(100% - 30px); */
    height: 100%;
    /* position: fixed;
    bottom: 90px;
    right :-100%; */
    background-color: #fff;
    transition: right ease-in .24s;
    z-index: 999999;
    position: absolute;
}
.chat-box.show{
    right: 0;
}
.chat-box-header{
    background-color: #ec202a;
    color:#fff;
    padding:10px 15px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-body{
    /* height: 100%; */
    height: calc(100% - 130px);
    padding:10px 15px;
    /* padding-bottom: 25px; */
    overflow: scroll;
    position: relative;
}
.chat-box-footer{
    padding:10px 15px;
    border-top: 1px solid #ece8e8;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.chat-box-footer input{
    width: 100%;
    border-radius: 50px;
   font-size: 14px;
}
.chat-box-footer .btn{
       position: absolute;
    right: 23px;
    top: 14px;
    padding: 0;
}
.chat-box-footer .time{
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
}

.chat-bot .chat-trigger, .chat-bot span{
 background-color: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.chat-bot .chat-trigger{
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.chat-bot span{
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    margin-left: 15px;
    padding:2px 15px;
    font-size: 12px;
    font-weight: 600;
}

.chat-bot span::before{
    content: '';
    
    position: absolute;
    left:-5px;
    width: 0px;
    height: 0px;
    top:10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #fff;
    
}
.chat-icon.show{
    display: none;
    }
    .chat-close{
        display: none;
    }
    .chat-close.show{
        display: block;
        animation: rotateIcon .1s ease;
        
    }
    .chat-bot span.hide{
        display: none;
    }
    
    @keyframes rotateIcon{
        0%{transform: rotate(0deg);}
        100%{transform:rotate(90deg);}
    }
    .admin-content{
        font-size: 10px;
    }
    .admin-content span{
    max-width: 80%;
        background-color: #fbd5d7;
        border-radius: 3px;
        padding: 5px 10px;
        line-height: 18px;
        position: relative;
        display: inline-block;
    }
    .admin-content + .admin-content, .admin-content + .user-content, .user-content + .user-content, .user-content + .admin-content
    {
        margin-top: 10px;
    }
    .user-content{
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .user-content span{
    background-color: #ece8e8;
        border-radius: 3px;
        padding: 5px 10px;
        line-height: 18px;
        max-width: 80%;
        position: relative;
    }
    .admin-content span::before{
        content: '';
        
        position: absolute;
        left:-5px;
        width: 0px;
        height: 0px;
        top:5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #fbd5d7;
        
    }
    .admin-content img{
        vertical-align: top;
    }
    .user-content span::before{
        content: '';
        
        position: absolute;
        right:-5px;
        width: 0px;
        height: 0px;
        top:5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #ece8e8;
        
    }
    /* End Chat Box Styles */



/* Process to go solar styles */

.process-to-go-solar-section{
    padding: 30px 0;
}
.process-to-go-solar-box{
    background: url('../images/panel.png') no-repeat;
    background-size: cover;
    padding:30px 0;
    height:auto;
    position: relative;    
}
.process-to-go-solar-box::after{
    position: absolute;
    content: '';
    background-color: rgba(70, 70, 70, .75);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
.process-to-go-solar-box .container{
    position: relative;
    z-index: 999;
}
.process-type-section{
    
        /* background-color: rgba(0, 0, 0, .66); */
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
}
.process-type-section svg{
    max-width: 100%;
}
.process-type-section .carousel{
    box-shadow: 0 3px 85px rgba(0, 0, 0, .16);
    height: 380px;
}
.process-type-section .carousel .item{
    color: #282828;
}
.process-type-section .carousel-indicators{
    left: 0;
}
.process-type-section .carousel-indicators li, .process-type-section .carousel-indicators li.active {
    border: 1px solid #767676;
    background-color: transparent;
}
.process-type-section .carousel-indicators li.active{
    border: 1px solid #E2001D;
    background-color: #E2001D;
}

.process-type-section label {
    background-color: #ffffff;
    width: 100%;
    cursor: pointer;
    box-shadow: 0 3px 85px rgba(0, 0, 0, .16);
    padding: 10px;
    position: relative;
    min-height: 150px;
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
     -ms-flex-pack: center;
    -ms-flex-align: center;
     -ms-flex-direction: column;
     border: none;
     margin-bottom: 15px;
    
}

.arrow {
    background-color: #E2001D;
    font-size: 40px;
    text-align: center;
    width: 40px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.arrow svg {
    max-width: 100%;
    height: 10px;
}
.process-type-section input[type=radio] {
    display: none;
}
.process-type-section input[type=radio]:checked + label{
   border:1px solid #E2001D;
}
.process-type-section .row .col-6:nth-child(odd){
    padding-right: 7px;
}
.process-type-section .row .col-6:nth-child(even){
    padding-left: 7px;
}
.process-type-section .carousel-indicators{
    top: -75px;
    display: flex;
    margin-right: 15px;
    margin-left: 15px;
    bottom: auto;
}
.process-to-go-solar-nav{
    visibility: hidden;
}
.process-type-section .carousel-indicators li, .process-type-section .carousel-indicators li.active{
    width: 15px;
    height: 15px;
}
.process-type-section .carousel-indicators li.active{
    color: #E2001D;
}
.process-type-section .carousel-indicators li{
    position: relative;
    opacity: 1;
    background-color: #f9f9f9;
    text-indent: inherit;
}
.process-type-section .carousel-indicators li span{
    width: 60px;
    position: absolute;
    bottom: -30px;
    text-align: center;
    left: -20px;
}
.process-type-section .carousel-indicators::before{
    content: '';
    position: absolute;
    width: calc(100% - 20px);
    background-color: #000;
    height: 1px;
    left: 5px;
    top: 9px;
}
.process-type-section .carousel-indicators li::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: #000;
    height: 1px;
    top: 18px;
    text-align: center;
    z-index: -1;
    display: none;
   
}


.inner-side{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    top: 0;
    right: -100%;
    z-index: 9999;
    transition: right ease .25s;
}
.more-icon{
    cursor: pointer;
}
.inner-side .inner-header{
    text-transform: uppercase;
    padding: 15px 15px;
    background-color: #E2001D;
    color: #fff;

}
.inner-side .inner-body{
    padding:15px 15px;
    text-align: center;
}
.inner-side.show{
    right:0;
}


/* End Process to go solar styles */






/* Product Details Page Start */


.product-info-tab, .product-info-content{
    display: inline-block;

}

.product-info-tab .nav-pills {
    background-color: #fff;
    justify-content: space-between;
    width: 100%;
    
}
.product-info-tab .nav-pills .nav-link.active {
    background: #fff;
    color: #ec202a;
    /* padding-left: 0; */
    
}
.product-info-tab .nav-pills .nav-link::before{
        width: 0px;
    height: 0px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ec202a;
    position: absolute;
    left: -100%;
    /* transition: all ease-in 0.25s; */
    bottom: 5px;

}
.product-info-tab .nav-pills .nav-link.active::before{
    left: 45%;
}
    
@media all and (-ms-high-contrast:none)
     {
        .product-info-tab .nav-pills .nav-link.active::before{
            top:22px;
        } /* IE10 */
     *::-ms-backdrop, .product-info-tab .nav-pills .nav-link.active::before{
        top:22px;
    } /* IE11 */
     }
.product-info-tab .nav-pills .nav-link{
    transition: all ease-in 0.25s;
    
}
.product-info-tab .nav-pills .nav-link {
    /* height: 54px; */
    /* border-bottom: 1px solid #e4eafc; */
    color: #848484;
    display: flex;
    align-items: center;
    border-radius: 0;
    transition: all ease-in 0.25s;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    padding: .5rem 20px;
    
}
.product-info-tab{
    padding: 5px;
    margin-bottom: 0px;
    box-shadow: 3px 4px 24px #e8edfc;
    width: 100%;
    display: flex;
    align-items: center;
}
.product-info-content{
    width: 100%;
    padding: 15px 0;
    
    padding-bottom: 20px;
}
.product-info-content .form-group .form-control-plaintext{
    padding-top: 0;
}
.product-info-content .form-group label{
     font-weight: 600;
     margin-bottom: 0;
}
.product-info-content .product-reviews{
    border-bottom: 1px solid #e4eafc;
}
.product-review-form input{
    
    border-radius: 0%;
}
.product-review-form textarea{
    
    border-radius: 0%;
}
.product-rating{
    margin:20px 20px;
}
.product-info-style .badge-dark{
    border-radius: 0%;
}
.product-info-list{
    margin-top:10px;
    margin-left: 20px;
    padding:0px;
}
.product-info-img{
    width: 100%;
}
.product-info-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

/* Product Details Page End */


/* Style Star Rating Widget */

.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
  }
  
  /* CSS Magic to Highlight Stars on Hover */
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
  
  
  /*End CSS Magic to Highlight Stars on Hover */


  /* Start Why Artia Section */

.why-artia-section{
    padding: 20px 0;
}
.why-artia-section .inner-box{
    background-color: #f5fafa;
}
.value-giving {
    background-color: #2D2E2D;
    padding: 20px 15px;
    color: #fff;
}
.value-giving-box {
    background-color: #fff;
    text-align: center;
    padding: 20px 5px;
    color: #E2001D;
    word-wrap: break-word;
    margin-bottom: 15px;
}
.value-giving-box h6 {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
}
/* End Why Artia Section */

/* Detailed Section Styles */

.detailed-section .row > .col-12 {
    margin-bottom: 20px;
}
.detailed-section .inner-box {
    padding: 0;
}
.inner-para {
    padding: 15px;
}
.detailed-section .img-fluid{
    width: 100%;
}
.detailed-section figure{
    margin: 0;
    position: relative;
}
.detailed-section figure figcaption{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.46);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-weight: 700;
    color: #E2001D;
}
/* End  Detailed Section Styles */




/* Atria Blub Section Styles */

.atria-blub-section{
    padding: 20px 15px;
}

.blub-alert-section{
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 9999;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blub-alert-section section{
    background-color: #282828;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.red.blub-alert-section section{
    background-color: #e2001d;
}
.blub-alert-section button{
    background-color: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}
.blub-alert-section section p:last-child{
    margin-bottom: 0;
}

/* End  Atria Blub Section Styles */


/* Solar Power Section Styles */
.solar-power-section{
    padding: 20px 15px;
}
/* End Solar Power Section Styles */


/* How Solar Panel Section Styles */

.how-solar-panel-section{
    padding: 20px 0;
}
.how-solar-panel-section .bg-color{
    background-color: #F6F6F6;
    padding: 30px 15px;
    margin-top: 30px;
}
.how-solar-panel-list li{
    position: relative;
    padding-left: 20px;
}
.how-solar-panel-list{
    padding: 0;
}
.how-solar-panel-list li::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    left: 0;
    top: 8px;
    border-radius: 50%;
   
    
}
.how-solar-panel-list li{
    display: block;
    width: 100%;
}
.how-solar-panel-section .carousel{
    padding: 0 15px;
}
.how-solar-panel-section .carousel-item{
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .20);
    
}

/* .how-solar-panel-section .carousel-item .col-12{
    background-color: #2D2E2D;
    color: #fff;
    padding: 20px 35px;
} */
.how-solar-panel-section .carousel-control-next, .how-solar-panel-section .carousel-control-prev{
    opacity: 1;
}
.how-solar-panel-section .carousel-control-next {
    right: -15px;
    
}
.how-solar-panel-section .carousel-control-prev {
    left: -15px;
    
}
.how-solar-panel-section .carousel-control-next-icon, .how-solar-panel-section .carousel-control-prev-icon{
    height: 36px;
    width: 36px;
}
.how-solar-panel-section .carousel-control-next-icon{
    background-image: url(../images/next-arrow.svg);
}
.how-solar-panel-section .carousel-control-prev-icon{
    background-image: url(../images/prev-arrow.svg);
}
.how-solar-panel-section .carousel-control-next, .how-solar-panel-section .carousel-control-prev{
    width: 10%;
}
/* End How Solar Panel Section Styles */









/* Payment process Section */

.payment-tabs{
    background-color: rgba(40, 40, 40, .05);
    padding:20px 0;
  
}
.payment-tabs .nav-tabs{
    border:none;
}
.payment-tabs .nav-tabs .nav-link:not(.active) {
    border: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: none;
}

.payment-tabs .nav-tabs .nav-item{
    position: relative;
}
.payment-tabs .nav-tabs .nav-link{
    font-weight: 600;
    font-size: 10px;
    padding: 0;
}


.payment-tabs .nav-tabs .nav-item::after{
    content: '';
    position: absolute;
    width: 100%;
    background-color: #000;
    height: 1px;
    top: 18px;
    text-align: center;
    z-index: -1;
   
}
@media all and (-ms-high-contrast:none)
     {
     .payment-tabs .nav-tabs .nav-item::after {    left: 57%; } /* IE10 */
     *::-ms-backdrop, .payment-tabs .nav-tabs .nav-item::after {     left: 57%; } /* IE11 */
     }

.payment-tabs .nav-tabs .nav-item:last-child::after{
    display: none;
}
.payment-tabs li :first-child{
    color: rgba(40, 40, 40, 1);
       
}

.payment-tabs .nav-tabs .nav-link span{
    border: 1px solid #000000;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    margin: 10px auto;
}
.payment-tabs .nav-tabs .nav-link.active{
    background: transparent;
    border: none;
    color: #E2001D;
    cursor: pointer;
}



.payment-tabs .nav-tabs .nav-link{
    cursor: default;
}
.payment-tabs .nav-tabs .nav-link.active span{
    background: #E2001D;
    border-color: #E2001D;
    
}
 .payment-tabs .nav-tabs .nav-link .disabled{
     color:rgba(114, 114, 114, 1);
     text-decoration: none;
 }

.payement-desc-section{
    padding: 15px;
}

.collapse-box .btn-link::after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}
.collapse-box .btn-link.collapsed::after {
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
.collapse-box .btn.btn-link{
    padding: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    text-align: left;
    position: relative;
    text-decoration: none;
}
.collapse-box .card{
    padding: 0;
    border: none;
}
.coupon-form .input-group .form-control{
    height: 60px;
}
.coupon-form .invalid-tooltip, .coupon-form .valid-tooltip{
    left: 0;
}

 /* End Payment process Section */


 /* Radio Button */
 .radio {
    margin: 0.5rem;
    text-align: left;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: 4px;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #E2001D;
    box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #E2001D;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }
  

  /* End Radio Button */

  /* Product View Section Styles */
.product-view-section{
    padding: 20px 0;
}
.product-item{
    position: relative;
    
}

.product-box{
    background-color:#F7F7F7;
    padding: 20px;
    border: 1px solid #F7F7F7;
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
    line-height: 22px;
}
.product-item label{
    height: 16px;
    width: 16px;
    border: 1px solid #000;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}
/* .product-item img{
    max-height: 200px;
    max-width: 160px;
} */

.product-item input{
    display: none;
}
.product-item input:checked + label{
    background-image: url(../images/checked.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.product-item input:checked + label + .product-box{
    border: 1px solid #E2001D;
}
.product-box .dropdown{
    display: inline-block;
}

.product-box .dropdown .btn-secondary{
    border: 1px solid #D6D6D6;
    color: #2E2E2E;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 20px;
}

#comparebutton{
    margin-left:10px; 
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
#comparebutton.active{
    background-color: #282828;
    text-decoration: none;
    color: #fff;
    border-radius: 0;
}
#comparebutton.active:hover{
    background-color: transparent;
    color:#282828;
    border-color:#282828;
}

.product-comparison .btn-primary{
    font-size: 14px;
}
  /* End Product View Section Styles */


/* Product Pagenation Section Styles */
.pagenation-section{
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.pagenation-section a{
    background-color: #E2001D;
    display: inline-block;
    padding: 5px;
}
.pagenation-section span{
    border: 1px solid #E2001D;
    padding: 5px 10px;
}
/* End Product Pagenation Section Styles */



  /* Payment Form */

 .payment-form .form-control{
    height: 40px;
    border-radius: 3px;
    border-color: #95989A;
    font-size: 14px;
}
 .payment-form .form-group {
   margin-bottom: 20px;
}
.payment-form .form-check-input {
   margin-top:0.45rem;
}

/* End Payment Form */

.order-summary-table .table th, .table td {
    padding: 7px;
}


/* Accordion Style 2 */

.accordion-style-2 .card{
    border: 1px solid #9c9c9c;
     background-color: transparent;
     border-radius: 0%;
    
 }
 
 .accordion-style-2 .card + .card{
     margin-top: 0;
     border-top: none;
 }
 
 .accordion-style-2 .card-header{
     padding: 0 !important;
     background-color: #F4F4F4;
     padding: 10px 15px !important;
     cursor: pointer;
     border-bottom:1px solid #9c9c9c;
 }
 
 .accordion-style-2 >.card:first-of-type {
     border: 1px solid #9c9c9c;
 
 }
 
 .accordion-style-2 >.card:not(:first-of-type):not(:last-of-type){
     border-bottom: 1px solid #9c9c9c;   
 }
 .accordion-style-2 .card-header h2{
     margin-bottom: 0;
 }
 .accordion-style-2 .card-header .btn{
     padding: 0 !important;
     color: #2E2E2E;
     text-transform: uppercase;
     letter-spacing: 1px;
 }
 
 .accordion-style-2 .card-body {
     padding: 15px !important;
     
 }
 .accordion-style-2 .btn-link {
     text-decoration: none;
 
 }
 
 .accordion-style-2 .btn-link::after {
     content: '';
     position: absolute;
     right: 25px;
     top: 20px;
     border-left: 5px solid transparent;
     border-right: 5px solid transparent;
     border-bottom: 5px solid black;
 
 }
 .accordion-style-2 .btn-link.collapsed::after {
     border-bottom: 5px solid transparent;
     border-left: 5px solid transparent;
   border-right: 5px solid transparent;
   border-top: 5px solid #9c9c9c;
 }
 
 
 
 /* End Accordion Style 2 */




 .product-comparison{
     padding: 20px 0;
     font-size: 10px;
     line-height: 18px;
     text-align: center;
 }
 .product-comparison .table{
     margin-bottom: 0;
 }
 .product-comparison .table td[colspan]{
     background-color: #dee2e6;
     color: #E2001D;
     font-weight: 600;
 }
 .product-comparison th[rowspan] a{
    color: #888;
}



.explore-section{
    padding: 20px 0;
}
.explore-section .accordion-style-1 .card-header{
    padding: 5px 15px !important;
}
.explore-section .accordion-style-1 .card-header .btn{
    display: flex;
    align-items: center;
}
.explore-section .accordion-style-1 .card-header .btn h4{
    margin-bottom: 0;
    margin-left: 10px;
}





.home-page .nav{
    background-color: #ece8e8;
}
.home-page .nav-pills .nav-link {
    border-radius: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E2001D;
}
.home-page .nav-pills .nav-link.active, .home-page .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #E2001D;
}











.custmer-speak-section {
    background-color: rgba(0, 0, 0, .66);
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    cursor: pointer;
    
}

.home-page .custmer-speak-section {
    background-color: rgba(0, 0, 0, .66);
    padding: 0;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    cursor: pointer;
    margin-top: 0;
    position: absolute;
    left: 20px;
    bottom: 80px;
    width: calc(100% - 40px);
}
.home-page .carousel{
    margin-top: 0;
}
.home-page .carousel .item {
    min-height: 90px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
}
.home-page .carousel .item p{
    margin-top: 10px;
}


.main-home-section .fixed.fixed-display{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}
.get-started {
    z-index: 99;
}
.get-started .btn-primary{
    padding: 10px 20px;
}


/* @media (min-width:320px) and (max-width: 330px){
    .home-page .custmer-speak-section{
        margin-top: -30px;
    }
    .hero-section{
        padding-top: 0;
        top: 55px;
    }
} */


.home-links{
    position: absolute;
    width: 100%;
    bottom: 200px;
    left: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.home-links a{
    color: #ffffff;
    background-color: #E2001D; 
    padding:2px 15px;
    font-size: 12px;
    border: 1px solid transparent;
}
.home-links a:hover{
    color: #E2001D;
    background-color: #fff; 
    border-color: #E2001D; 
    
}

.not-serving{
  color: #ffe200;
}
.not-serving + a{
    color: #ffe200 !important;
}

#termsConds .modal-header{
    background-color: #E2001D;
    color: #fff;
    border: none;
    border-radius: 0;
}



.pagination .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #282828;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 50%;
}
.pagination .page-item + .page-item{
    margin-left: 10px;
}
.page-item:first-child .page-link, .page-item:last-child .page-link{
    border-radius: 50%;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #E2001D;
    border-color: #E2001D;
}

.link{
    color: #E2001D;
}

.brdcum{
    background-color: rgba(226, 0, 29, 0.06);
    padding: 2px 15px;
    text-align: right;
}
.brdcum a{
    color: #282828;
    font-weight: 500;
    
}
.modal-body, .modal-footer {
    background-color: #c3c3c3;
}
.modal-footer {
    border-color: #c3c3c3;
}

.product-info-tab .dropleft .dropdown-menu {
    margin-top: 30px;
    padding: 0;
    transform: translate3d(0, 0px, 0px) !important;
    left: auto !important;
    right: 0;
}
.product-info-tab .nav-item.dropdown.dropleft{
    display: flex;
}
.product-info-tab .nav-pills .show>.nav-link{
    background-color: transparent;
}



.btn.btn-primary.btn-sm{
    width: auto;
    padding: 2px 10px;
}